body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    background: url(sprinkle.svg);
}

.container {
        max-width: 700px;
        width: 100%;
        padding: 25px 30px;
        border-radius: 5px;
        margin-bottom: 40px;
        box-shadow: 4px 4px 5px 4px rgb(68, 59, 59);
}

.container h1 {
    font-size: 2em;
    font-weight: 500%;
    position: relative;
    text-align: center;
    color: #66ff66;
    font-family: 'Playball', cursive;
}

#table {
    margin: auto;
    border-color: black;
}

tr:nth-child(odd) {
    background-color: #b3c6ff;
}

tr:nth-child(even) {
    background-color: #ff80b3;
}
    
td { 
    padding: 10px;
    padding-right: 60px;
}

tr:nth-child(odd):hover {
    background-color: #3366ff;
    cursor: pointer;
}

tr:nth-child(even):hover {
    background-color: #ff0066;
    cursor: pointer;
}